/* 
 font-family: 'Montserrat', sans-serif;
 font-family: 'Mouse Memoirs', sans-serif;
 color: #d00a36;
 
  googleMapAPIKey: AIzaSyAQi6mvE398EiSnTveQKKiYn5xUxuYOqiA

*/

body {
  margin: 0 auto;
  font-family: $font-default;
}

html {
  font-size: $font-size-default; 
}