/* 
 font-family: 'Montserrat', sans-serif;
 font-family: 'Mouse Memoirs', sans-serif;
 color: #d00a36;
*/

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  /* overflow: hidden; */
}

header {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.1)), url('../images/borderBack.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 650px;
}

.page {
  padding: 75px 50px 0;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 576px){
  .page {
    padding: 75px 30px 0;
  }
}




