.burger {
  display: none;
  position: absolute;
  top: 8%;
  right: 12%;
  cursor: pointer;
  overflow: hidden;
  z-index: 1001;
}

.burger-item, .burger::after, .burger::before {
  width: 40px;
  height: 6px;
  background-color: white; 
  margin: 8px;
  border-radius: 6px;
  transition: 0.15s ease-in-out;
}

.burger::after, .burger::before {
  content: '';
  display: block;
  width: 50px;
}

.burger.active {
  position: fixed;
}

.burger.active .burger-item {
  transform: translateX(-120%);
}

.burger.active::before {
  transform: translateY(14px) rotate(45deg);
}

.burger.active::after {
  transform: translateY(-14px) rotate(-45deg);
}

@media (max-width: 991px ) {
  .burger {
    display: block;
  }
}

@media (max-width: 576px){
  .burger {
    top: 3%;
    right: 7%;
  }
}
