.contact-page {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 0 40px;
  margin-bottom: 200px;
}

.contact-list {
  flex-basis: 100%;
  font-size: 1.6rem;
  padding: 20px;
  background-color: #d00a36;
  color: white;
  margin-bottom: 80px;
}

.contact-list ul {
  list-style: none;
  padding: 15px 0 0 0;
}

.contact-list li {
  line-height: 150%;
}

.contact-list li strong {
  padding: 0 0 5px 30px;
}

.contact-list a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}

.contact-list a:hover {
  color: black;
}

.form, .address-info {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  min-height: 370px;
  max-height: 600px;
  padding: 25px 18% 25px 40px;
  box-shadow: 0 6px 15px 5px rgba(0,0,0,0.2);
  border-top-right-radius: 25px;
  background-color: #fff;
}

.form input, .form textarea {
  display: block;
  height: 35px;
  margin: 15px 0;
  font-size: 1.6rem;
  padding: 5px 15px;
}

.form textarea {
  height: 180px;
  resize: none;
}

.form input::placeholder, .form textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}

.btn-form {
  margin-top: 10px;
  align-self: flex-end;
}

.address-info {
  position: absolute;
  justify-content: space-around;
  top: 50%;
  left: 57%;
  height: 70vh;
  min-height: 410px;
  max-height: 540px;
  width: 34%;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  background-color: black;
  color: white;
  box-shadow: none;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.25);
  transition: 0.6s ease-out;
  transform: perspective(1000px) rotateY(-1deg)
}

.address-info:hover {
  transform: perspective(1000px) rotateY(-6deg) 
}

.address-info h3{
  font-size: 4rem;
  letter-spacing: 5px;
  font-family: 'Mouse Memoirs', sans-serif;
}

.address-info p {
  font-size: 1.7rem;
}

.address-info .fa-w-12, .address-info .fa-w-16 {
  margin-right: 20px;
}


@media (max-width: 991px){
  .address-info p {
    font-size: 1.5rem;
  }

  .address-info {
    left: 57%;
    width: 39%;
  }
}

@media (max-width: 768px) {
  .contact-page {
    margin-bottom: 100px;
  }

  .form {
    flex-basis: 90%;
    padding: 25px 40px;
    margin: 0 auto;
  }

  .address-info {
    display: none;
  }

  .contact-list {
    font-size: 1.4rem;
    margin: 0 auto 50px;
  }
}

@media (max-width: 576px) {
  .contact-page {
    padding: 40px 0 0;
  }
  .form {
    flex-basis: 100%;
    padding: 25px 20px;
    margin: 0 auto;
  }
  .contact-list li strong {
    padding: 0 0 5px 20px;
  }
}