.footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-height: 10vh;
  background-color: #000;
  color: white;
  margin: 70px auto 0 auto;
  max-width: 1400px;
}

.footer .media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 4;
  text-align: left;
  padding: 20px;
}

.footer .creator {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  background-color: #fff;
  padding: 20px;
  color: black;
}

.footer div {
  padding: 10px;
}

.footer p, span{
  font-size: 1.4rem;
  line-height: 160%;
}

.logo, .address, .contact, .social {
  flex: 1;
}

.social, .logo {
  text-align: center;
  padding-bottom: 0;
}


.footer .social span {
  font-size: 2.8rem;
  padding: 0 15px;
}

.footer .social a {
  color: white;
}

.footer .logo {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 3.5rem;
}

@media (max-width: 991px) {
  .footer .media {
    flex-wrap: wrap;
  }
  
  .logo, .address, .contact, .social {
    flex-basis: 50%;
  }

  .footer .address, .footer .contact {
    padding-left: 40px;
  }
}

@media (max-width: 576px){
  .footer {
    flex-direction: column-reverse;
  }
  .footer .creator {
    padding: 10px;
  }
  .footer .media {
    padding: 15px;
  }
  .footer .social span {
    padding: 0 10px;
  }
}