.main__nav-desktop {
  position: absolute;
  background-color: #fff;
  top: 0;
  right: 0;
  width: 65%;
  height: 15vh;
  min-height: 100px;
}

.menu-desktop {
  height: 15vh;
  padding: 0 15px;
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 840px;
  min-height: 100px;
}

.menu-desktop li {
  flex: 1;
  opacity: 0;
}

.main__nav  a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  padding-bottom: 5px;
}

.main__nav a:hover {
  color: #d00a36;
}

.main__nav a.active {
  border-bottom: 4px solid #d00a36;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateY(-100%)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.main__nav-mobile {
  display: none;
  position: fixed;
  background-color: #a00023;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100vh;
  z-index: 1000;
}

.main__nav-mobile.active {
  display: block;
  animation: opa 0.5s ease forwards 0.15s;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20vh 40px 40px;
  list-style: none;
  text-align: center;
}

.menu-mobile li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.menu-mobile  a {
  text-decoration: none;
  color: #e0cedce8;
  font-size: 5rem;
}

.menu-mobile a:hover {
  color: white;
}

.menu-mobile a.active {
  border-bottom: none;
}

@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveLeft {
  from {
    opacity: 0;
    transform: translateX(50%)
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}


@media (max-width: 991px ) {
  .main__nav-desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-mobile {
    padding: 15vh 40px 40px;
  }

  .menu-mobile  a {
    font-size: 4rem;
  }
}

