.one-dog {
  position: relative;
}

.gallery {
  padding: 30px 170px;
}

.one-dog p {
  font-size: 1.6rem;
  line-height: 150%;
  padding: 40px 80px 0 80px;
  text-align: justify;
}

.btn-link {
  display: block;
  margin-left: 80%;
  width: 10%;
  text-align: right;
}

.btn-back {
  margin: 0;
}

.lists ul {
  list-style: none;
  padding: 0 110px;
}

.lists li {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .gallery {
    padding: 30px 90px;
  }
}

@media (max-width: 768px) {
  .gallery {
    padding: 30px 40px;
  }
  .one-dog p {
    font-size: 1.4rem;
    padding: 30px 40px 0 40px;
  }
  .lists ul {
    padding: 0 70px;
  }
  .lists li {
    font-size: 1.3rem;
  }
}

@media (max-width: 576px){
  .gallery {
    padding: 30px 20px;
  }
  .one-dog p {
    padding: 30px 20px 0 20px;
  }
  .lists ul {
    padding: 0 20px 0 40px;
  }
}