.nav-desktop {
  background-color: $color-white;
  width: 65%;
  height: 15vh;
  min-height: 100px;

  &__menu {
    @include flex($align-items: center);
    height: 15vh;
    padding: 0 15px;
    list-style: none;
    text-align: center;
    max-width: 840px;
    min-height: 100px;
  }

  &__item {
    flex: 1;
    opacity: 0;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
    font-size: 1.6rem;
    padding-bottom: 5px;
    &:hover {
      color: $color-red;
    }
    &.active {
      border-bottom: 4px solid $color-red;
    }
  }

  @include media-q(large){
    display: none;
  }

}