@mixin media-q($breakpoint){
  $size: map-get($breakpoints, $breakpoint);
  @if($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaję tej wartości';
  }
}

@mixin flex ($direction: row, $justify: flex-start, $align-items: stretch){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
}

@mixin absolute ($top: null, $left: null, $bottom: null, $right: null){
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}